 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,700&display=swap');
* {
  margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body {
    font-family: 'Roboto', sans-serif;
    background: #fad2df;
  }
  
  header {
    text-align: center;
    padding: 20px 0;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
  }
  
  th,
  td {
    padding: 10px;
    text-align: center;
  }
  
  /* Add task form */
  .form-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Task table */
  .table {
    border-collapse: collapse;
  }
  
  .task-name{
    text-transform: capitalize;
  }

  #taskList tr:nth-child(even){
    background: #fff;
  }
  /* Completed task row */
  .completed-task {
    background-color: #f2f2f2;
    text-decoration: line-through;
  }
  
  /* Edit and delete links */
  .edit,
  .delete {
    color: #dc3545;
    text-decoration: none;
    cursor: pointer;
  }
  
  .edit:hover,
  .delete:hover {
    text-decoration: underline;
  }
  